In [119]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [167]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("spark").getOrCreate()

In [186]:

accidents=spark.read.csv("/content/Road_accidents.csv",header=True)
accidents_time=spark.read.csv("/content/Road_accidents_time.csv",header=True).toDF("STATE/UT","YEAR","O-3(n)","3-6(n)","6-9(d)","9-12(d)","12-15(d)","15-18(d)","18-21(n)","21-24(n)")
accidents.show()
accidents_time.show()

+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
|      STATE/UT|YEAR|JANUARY|FEBRUARY|MARCH|APRIL| MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
| A & N Islands|2001|      8|      23|   15|   15|  14|  19|  14|    19|        7|     12|      13|      22|
| A & N Islands|2002|     12|      10|   14|   16|  10|   7|  16|    11|       23|     21|      11|      17|
| A & N Islands|2003|     19|      13|   15|   13|  13|  12|   8|    16|       17|     25|      14|      15|
| A & N Islands|2004|     21|      14|   22|   17|  13|  18|  16|    19|       16|     20|      15|      24|
| A & N Islands|2005|     19|      21|   22|   17|  13|  19|  21|    14|       15|     19|      10|      16|
| A & N Islands|2006|     21|      13|    4|   22|   9|  14|  12|    14|        8|     14|       6|      18|
| A & N Islands|2007|     17|      16|   12|   22|  12|  14|   8|    10|       11|      7|      11|      12|
| A & N Islands|2008|     17|      22|   15|   16|  15|  17|  13|    11|       13|     17|      11|      24|
| A & N Islands|2009|     16|      23|   23|   21|  21|  19|  24|    25|       31|     22|      20|      26|
| A & N Islands|2010|     16|      30|   28|   15|  29|  24|  22|    18|       25|     30|      27|      21|
| A & N Islands|2011|     24|      10|   19|   24|  13|  28|  17|    18|       25|     17|      18|      22|
| A & N Islands|2012|     25|      15|   24|   24|  18|  16|  17|    18|       18|     25|      17|      19|
| A & N Islands|2013|     24|      23|   16|   15|  13|  16|  14|    25|       14|     15|      14|      11|
| A & N Islands|2014|     25|      13|   19|   19|  18|  15|  15|    16|       15|     23|      18|      22|
|Andhra Pradesh|2001|   2204|    2437| 2405| 2351|2550|2284|2025|  2077|     2070|   2276|    2122|    2387|
|Andhra Pradesh|2002|   2492|    2453| 2835| 2786|3195|2880|2645|  2607|     2555|   2624|    2646|    2859|
|Andhra Pradesh|2003|   2783|    2569| 2870| 2635|3265|2924|2657|  2934|     2767|   2881|    3037|    3215|
|Andhra Pradesh|2004|   3019|    3131| 3211| 3100|3257|2942|2827|  3079|     2972|   3041|    3129|    3370|
|Andhra Pradesh|2005|   3189|    3193| 3182| 3056|3612|3247|2907|  3028|     2742|   2928|    2975|    3230|
|Andhra Pradesh|2006|   3568|    3224| 3496| 3634|3962|3400|3334|  3311|     3232|   3306|    3268|    3588|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
only showing top 20 rows

+--------------+----+------+------+------+-------+--------+--------+--------+--------+
|      STATE/UT|YEAR|O-3(n)|3-6(n)|6-9(d)|9-12(d)|12-15(d)|15-18(d)|18-21(n)|21-24(n)|
+--------------+----+------+------+------+-------+--------+--------+--------+--------+
| A & N Islands|2001|     2|     6|    29|     40|      39|      40|      18|       7|
| A & N Islands|2002|     2|     6|    22|     41|      33|      33|      23|       8|
| A & N Islands|2003|     2|     8|    31|     35|      28|      36|      25|      15|
| A & N Islands|2004|     2|     5|    29|     42|      43|      43|      37|      14|
| A & N Islands|2005|     0|     8|    27|     28|      38|      42|      50|      13|
| A & N Islands|2006|     1|     3|    17|     33|      33|      23|      38|       7|
| A & N Islands|2007|     2|     5|    20|     30|      30|      27|      31|       7|
| A & N Islands|2008|     3|     7|    33|     24|      40|      31|      40|      13|
| A & N Islands|2009|     2|     6|    35|     41|      64|      54|      50|      19|
| A & N Islands|2010|     2|    10|    36|     45|      64|      57|      53|      18|
| A & N Islands|2011|     4|     3|    36|     27|      46|      50|      51|      18|
| A & N Islands|2012|     4|     6|    26|     29|      54|      45|      58|      14|
| A & N Islands|2013|     2|     3|    22|     31|      40|      40|      37|      25|
| A & N Islands|2014|     4|     6|    25|     28|      55|      36|      41|      23|
|Andhra Pradesh|2001|  2239|  3265|  3198|   3729|    3604|    3792|    4098|    3263|
|Andhra Pradesh|2002|  2931|  3857|  3671|   4255|    4153|    4778|    4844|    4088|
|Andhra Pradesh|2003|  3158|  4865|  3749|   4319|    4266|    4853|    5218|    4109|
|Andhra Pradesh|2004|  3191|  4770|  4598|   5030|    4033|    4971|    6031|    4454|
|Andhra Pradesh|2005|  3826|  6011|  5002|   4137|    4261|    4524|    5096|    4432|
|Andhra Pradesh|2006|  3635|  5525|  4270|   5108|    4918|    6101|    6757|    5009|
+--------------+----+------+------+------+-------+--------+--------+--------+--------+
only showing top 20 rows

In [169]:
#1.Add column 'Total', giving sum of accidents in each month
from pyspark.sql.functions import *
list=[month for month in accidents.columns[2:]]
exp='+'.join(list)
accidents = accidents.withColumn("Total", expr(exp))
accidents.show()

+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-------+
|      STATE/UT|YEAR|JANUARY|FEBRUARY|MARCH|APRIL| MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER|  Total|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-------+
| A & N Islands|2001|      8|      23|   15|   15|  14|  19|  14|    19|        7|     12|      13|      22|  181.0|
| A & N Islands|2002|     12|      10|   14|   16|  10|   7|  16|    11|       23|     21|      11|      17|  168.0|
| A & N Islands|2003|     19|      13|   15|   13|  13|  12|   8|    16|       17|     25|      14|      15|  180.0|
| A & N Islands|2004|     21|      14|   22|   17|  13|  18|  16|    19|       16|     20|      15|      24|  215.0|
| A & N Islands|2005|     19|      21|   22|   17|  13|  19|  21|    14|       15|     19|      10|      16|  206.0|
| A & N Islands|2006|     21|      13|    4|   22|   9|  14|  12|    14|        8|     14|       6|      18|  155.0|
| A & N Islands|2007|     17|      16|   12|   22|  12|  14|   8|    10|       11|      7|      11|      12|  152.0|
| A & N Islands|2008|     17|      22|   15|   16|  15|  17|  13|    11|       13|     17|      11|      24|  191.0|
| A & N Islands|2009|     16|      23|   23|   21|  21|  19|  24|    25|       31|     22|      20|      26|  271.0|
| A & N Islands|2010|     16|      30|   28|   15|  29|  24|  22|    18|       25|     30|      27|      21|  285.0|
| A & N Islands|2011|     24|      10|   19|   24|  13|  28|  17|    18|       25|     17|      18|      22|  235.0|
| A & N Islands|2012|     25|      15|   24|   24|  18|  16|  17|    18|       18|     25|      17|      19|  236.0|
| A & N Islands|2013|     24|      23|   16|   15|  13|  16|  14|    25|       14|     15|      14|      11|  200.0|
| A & N Islands|2014|     25|      13|   19|   19|  18|  15|  15|    16|       15|     23|      18|      22|  218.0|
|Andhra Pradesh|2001|   2204|    2437| 2405| 2351|2550|2284|2025|  2077|     2070|   2276|    2122|    2387|27188.0|
|Andhra Pradesh|2002|   2492|    2453| 2835| 2786|3195|2880|2645|  2607|     2555|   2624|    2646|    2859|32577.0|
|Andhra Pradesh|2003|   2783|    2569| 2870| 2635|3265|2924|2657|  2934|     2767|   2881|    3037|    3215|34537.0|
|Andhra Pradesh|2004|   3019|    3131| 3211| 3100|3257|2942|2827|  3079|     2972|   3041|    3129|    3370|37078.0|
|Andhra Pradesh|2005|   3189|    3193| 3182| 3056|3612|3247|2907|  3028|     2742|   2928|    2975|    3230|37289.0|
|Andhra Pradesh|2006|   3568|    3224| 3496| 3634|3962|3400|3334|  3311|     3232|   3306|    3268|    3588|41323.0|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-------+
only showing top 20 rows

In [170]:
#2.Which state has highest number of accidents in year 2013
highest_no_of_accidents=accidents.select("YEAR","State/UT","Total").filter(col("YEAR")==2013).orderBy("Total",ascending=False).first()[1]
highest_no_of_accidents

'Tamil Nadu'

In [171]:
#3.Average monthly accidents for each state
monthly_accidents=accidents.groupBy("STATE/UT").agg(avg(col("JANUARY")).alias("AVG_JAN"),
                                                    avg(col("FEBRUARY")).alias("AVG_FEB"),
                                                    avg(col("MARCH")).alias("AVG_MAR"),
                                                    avg(col("APRIL")).alias("AVG_APR"),
                                                    avg(col("MAY")).alias("AVG_MAY"),
                                                    avg(col("JUNE")).alias("AVG_JUNE"),
                                                    avg(col("JULY")).alias("AVG_JUL"),
                                                    avg(col("AUGUST")).alias("AVG_AUG"),
                                                    avg(col("SEPTEMBER")).alias("AVG_SEP"),
                                                    avg(col("OCTOBER")).alias("AVG_OCT"),
                                                    avg(col("NOVEMBER")).alias("AVG_NOV"),
                                                    avg(col("DECEMBER")).alias("AVG_DEC"))


monthly_accidents.show()

+-----------------+------------------+-------------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+
|         STATE/UT|           AVG_JAN|            AVG_FEB|           AVG_MAR|            AVG_APR|           AVG_MAY|          AVG_JUNE|            AVG_JUL|           AVG_AUG|            AVG_SEP|            AVG_OCT|            AVG_NOV|           AVG_DEC|
+-----------------+------------------+-------------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+
|         Nagaland| 5.071428571428571|  5.857142857142857| 5.142857142857143|  4.928571428571429|               4.0| 5.357142857142857|  5.071428571428571| 3.642857142857143| 3.0714285714285716|  5.214285714285714| 3.2857142857142856| 5.142857142857143|
|        Karnataka|3573.6428571428573|             3407.5|3587.4285714285716|  3580.714285714286|            3929.5|3482.1428571428573| 3269.1428571428573|3236.1428571428573|             3222.0|  3349.285714285714| 3406.4285714285716| 3724.714285714286|
|           Odisha| 751.2142857142857|  685.0714285714286| 745.6428571428571|              693.0|             773.5| 696.7857142857143|  641.9285714285714| 591.3571428571429|  591.7142857142857|  627.8571428571429|  678.6428571428571|             754.5|
|           Kerala|3361.1428571428573|             3058.0|3182.0714285714284| 3087.4285714285716|            3227.0|2926.4285714285716| 2830.9285714285716|2959.3571428571427| 2967.6428571428573|             3007.5| 3087.3571428571427|3316.6428571428573|
|       Tamil Nadu| 5259.214285714285|  5043.928571428572| 5428.071428571428|  5357.642857142857| 5608.142857142857|            5170.5|             4883.0| 5055.357142857143|  4985.428571428572|             4789.5|  4566.714285714285| 4714.857142857143|
|     Chhattisgarh| 773.2857142857143|  717.1428571428571|             725.5|  738.3571428571429| 785.1428571428571| 703.3571428571429|  662.0714285714286| 615.7857142857143|  633.3571428571429|  702.2142857142857|  668.2857142857143|             691.0|
|   Andhra Pradesh|            3318.0|  3189.785714285714|3409.4285714285716|             3349.5|3674.4285714285716|3326.4285714285716|  3026.714285714286|3139.0714285714284|  2965.714285714286|  3121.214285714286|  3143.785714285714|3394.5714285714284|
|      Lakshadweep|0.2857142857142857|0.07142857142857142|               0.0|0.07142857142857142|               0.0|               0.0|0.07142857142857142|               0.0|0.14285714285714285|0.14285714285714285|0.21428571428571427|               0.0|
|   Madhya Pradesh| 2450.214285714286|  2315.285714285714|2399.5714285714284| 2489.8571428571427|2785.5714285714284|2443.6428571428573|             2159.0|2088.5714285714284|             2095.5| 2367.8571428571427|             2321.5| 2226.785714285714|
|           Punjab|268.07142857142856|              274.5|275.35714285714283| 276.07142857142856| 270.7857142857143|273.14285714285717|  270.2142857142857|263.07142857142856| 268.35714285714283| 295.85714285714283|              311.0| 296.7142857142857|
|          Manipur|52.857142857142854|               49.5| 51.92857142857143| 49.142857142857146| 45.07142857142857| 42.07142857142857|               42.5|40.785714285714285|               48.0|               51.0|               51.0|56.857142857142854|
|      Daman & Diu| 5.142857142857143| 3.4285714285714284| 3.857142857142857|  4.428571428571429| 3.357142857142857|3.4285714285714284|                4.0| 2.857142857142857| 2.9285714285714284| 3.4285714285714284|  4.571428571428571|               4.5|
|  Jammu & Kashmir|401.64285714285717|              399.0| 465.2142857142857|              471.5|             531.0| 559.2857142857143|  573.2857142857143| 514.1428571428571|  492.7857142857143|  536.0714285714286|  511.7142857142857|460.07142857142856|
|              Goa| 311.7857142857143| 272.35714285714283|             271.5|  264.7857142857143|             298.5|             235.0| 215.21428571428572|241.21428571428572| 245.28571428571428| 258.35714285714283| 280.85714285714283|             314.5|
|          Mizoram| 8.214285714285714|  6.142857142857143| 8.785714285714286|  6.285714285714286| 6.928571428571429|               5.0|  7.285714285714286| 5.357142857142857|  5.357142857142857|  4.642857142857143|  6.857142857142857| 8.857142857142858|
| Himachal Pradesh|184.57142857142858| 175.42857142857142|205.71428571428572| 210.35714285714286|236.35714285714286|245.14285714285714| 239.28571428571428|233.64285714285714| 230.21428571428572| 236.71428571428572| 235.85714285714286|217.07142857142858|
|       Puducherry|118.28571428571429| 120.21428571428571|             136.5| 124.28571428571429|129.64285714285714|128.21428571428572| 130.92857142857142|132.71428571428572| 130.42857142857142| 133.28571428571428| 110.64285714285714|118.35714285714286|
|          Haryana| 728.4285714285714|  733.2142857142857| 802.0714285714286|              777.0| 803.1428571428571| 771.3571428571429|              778.0| 770.8571428571429|              752.5|  836.0714285714286|  834.3571428571429| 835.9285714285714|
|        Jharkhand| 263.7142857142857| 260.42857142857144| 289.2857142857143|  292.7142857142857|325.14285714285717|296.07142857142856| 265.14285714285717|249.92857142857142| 243.35714285714286|  265.7857142857143| 267.64285714285717|281.42857142857144|
|Arunachal Pradesh|21.857142857142858| 21.285714285714285|21.071428571428573| 18.071428571428573|21.285714285714285|18.785714285714285|               17.0|17.642857142857142| 20.285714285714285| 20.714285714285715|               21.5|22.571428571428573|
+-----------------+------------------+-------------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+
only showing top 20 rows

In [172]:
#4. Which month has highest accidents
highest_acc = accidents.select([col for col in accidents.columns if col!= 'STATE/UT' and col!='YEAR' and col!="Total"])
var  = {}
for i in highest_acc.columns:
  var[i] = highest_acc.agg({i:'sum'}).collect()[0][0]
df4 = spark.createDataFrame(var.items(), ["month", "value"])
maxValue = df4.agg({'value':'max'}).collect()[0][0]
df4.select('month','value').where(col('value')==maxValue).show()

+-----+--------+
|month|   value|
+-----+--------+
|  MAY|521563.0|
+-----+--------+

In [187]:
#5. Which time slot (like 0-3, 3-6 etc) has more accidents? What about 'Karnataka' state?
df5=accidents_time.drop("YEAR")
df5=df5.drop("STATE/UT")
df5.show()
var  = {}
for i in df5.columns:
  var[i] = df5.agg({i:'sum'}).collect()[0][0]
df4 = spark.createDataFrame(var.items(), ["month", "value"])
maxValue = df4.agg({'value':'max'}).collect()[0][0]
df4.select('month','value').where(col('value')==maxValue).show()

+------+------+------+-------+--------+--------+--------+--------+
|O-3(n)|3-6(n)|6-9(d)|9-12(d)|12-15(d)|15-18(d)|18-21(n)|21-24(n)|
+------+------+------+-------+--------+--------+--------+--------+
|     2|     6|    29|     40|      39|      40|      18|       7|
|     2|     6|    22|     41|      33|      33|      23|       8|
|     2|     8|    31|     35|      28|      36|      25|      15|
|     2|     5|    29|     42|      43|      43|      37|      14|
|     0|     8|    27|     28|      38|      42|      50|      13|
|     1|     3|    17|     33|      33|      23|      38|       7|
|     2|     5|    20|     30|      30|      27|      31|       7|
|     3|     7|    33|     24|      40|      31|      40|      13|
|     2|     6|    35|     41|      64|      54|      50|      19|
|     2|    10|    36|     45|      64|      57|      53|      18|
|     4|     3|    36|     27|      46|      50|      51|      18|
|     4|     6|    26|     29|      54|      45|      58|      14|
|     2|     3|    22|     31|      40|      40|      37|      25|
|     4|     6|    25|     28|      55|      36|      41|      23|
|  2239|  3265|  3198|   3729|    3604|    3792|    4098|    3263|
|  2931|  3857|  3671|   4255|    4153|    4778|    4844|    4088|
|  3158|  4865|  3749|   4319|    4266|    4853|    5218|    4109|
|  3191|  4770|  4598|   5030|    4033|    4971|    6031|    4454|
|  3826|  6011|  5002|   4137|    4261|    4524|    5096|    4432|
|  3635|  5525|  4270|   5108|    4918|    6101|    6757|    5009|
+------+------+------+-------+--------+--------+--------+--------+
only showing top 20 rows

+--------+--------+
|   month|   value|
+--------+--------+
|15-18(d)|906639.0|
+--------+--------+

In [161]:
#6. Which state has more accidents from year 2001 to 2014?
#col=[month for month in accidents.columns[2:-1]]
filter_by_year=accidents.filter(col("YEAR").between(2001,2014))
total_accidents_per_state=filter_by_year.groupBy("State/UT").agg(sum("Total").alias("Total"))
max_state=total_accidents_per_state.orderBy("Total",ascending=False).first()[0]
print("State with max accidents from 2001 to 2014:",max_state)

State with max accidents from 2001 to 2014: Tamil Nadu

In [138]:
#7. List states whose accidents number in year 2014 is less than state average from 2001 to 2014.
state_average=accidents.filter(col("YEAR").between(2001,2014)).groupBy("State/UT").agg(avg("Total").alias("Avg_Total")).orderBy("State/UT")
filter_by_year=accidents.select(col("State/UT"),col("Total")).filter(col("YEAR")==2014).orderBy("State/UT")
df1=filter_by_year.join(state_average,on="State/UT")
df2=df1.filter(col("Total")<col("Avg_Total"))
df1.show()
df2.select(("State/UT")).show()

+-----------------+-------+------------------+
|         State/UT|  Total|         Avg_Total|
+-----------------+-------+------------------+
|    A & N Islands|  218.0|206.64285714285714|
|   Andhra Pradesh|43232.0|39058.642857142855|
|Arunachal Pradesh|  185.0|242.07142857142858|
|            Assam| 7144.0| 4408.428571428572|
|            Bihar| 9531.0| 6617.714285714285|
|       Chandigarh|  366.0|457.92857142857144|
|     Chhattisgarh|12140.0|            8415.5|
|       D&N Haveli|   87.0|              87.0|
|      Daman & Diu|   39.0| 45.92857142857143|
|         Delhi Ut| 8310.0|            8310.0|
|              Goa| 4230.0|3209.3571428571427|
|          Gujarat|22152.0|21451.785714285714|
|          Haryana|11043.0|  9422.92857142857|
| Himachal Pradesh| 3325.0|2650.3571428571427|
|  Jammu & Kashmir| 5778.0| 5915.714285714285|
|        Jharkhand| 4905.0|3300.6428571428573|
|        Karnataka|43694.0|41768.642857142855|
|           Kerala|35872.0|           37011.5|
|      Lakshadweep|    1.0|               1.0|
|   Madhya Pradesh|39698.0| 28143.35714285714|
+-----------------+-------+------------------+
only showing top 20 rows

+-----------------+
|         State/UT|
+-----------------+
|Arunachal Pradesh|
|       Chandigarh|
|      Daman & Diu|
|  Jammu & Kashmir|
|           Kerala|
|      Maharashtra|
|         Nagaland|
|       Puducherry|
|           Sikkim|
|          Tripura|
|      Uttarakhand|
+-----------------+

In [256]:
#8. Which month has more accidents over the year?
highest_acc = accidents.select([col for col in accidents.columns if col!= 'STATE/UT' and col!='YEAR'])
var  = {}
for i in highest_acc.columns:
  var[i] = highest_acc.agg({i:'sum'}).collect()[0][0]
df4 = spark.createDataFrame(var.items(), ["month", "value"])
maxValue = df4.agg({'value':'max'}).collect()[0][0]
df4.select('month','value').where(col('value')==maxValue).show()

+-----+--------+
|month|   value|
+-----+--------+
|  MAY|521563.0|
+-----+--------+