In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=18c4e4e72084e66f214b5c3924cfa81361ed84306367eec9cca7f467c5a3027b
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Spark").getOrCreate()

In [3]:

weather_data=spark.read.csv("/content/Weather Data in India from 1901 to 2017.csv",header=True)
weather_data.show()

+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|_c0|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|  0|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|
|  1|1902|   19|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|
|  2|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|
|  3|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|
|  4|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|
|  5|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|
|  6|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|
|  7|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|
|  8|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|
|  9|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|
| 10|1911|18.52|19.18|22.05|   26|28.55|28.02|27.44|27.04|26.22|24.57| 21.1|18.76|
| 11|1912| 18.6|20.84|22.93|26.21| 28.3|28.53|27.49|26.68|25.81|24.44|   21|18.44|
| 12|1913| 18.2|19.98|22.15|26.61|27.95|27.91|   27| 26.8|26.02|24.35|20.92| 18.7|
| 13|1914|18.96|19.66|22.63|25.73|28.24|28.46|27.29|26.49|26.38|23.97|21.87|18.73|
| 14|1915|17.93|   19|22.69|26.23|29.17|28.58|27.77|27.32|26.82|25.46|22.18|18.31|
| 15|1916|18.52|19.68|24.24|26.84|28.16|27.81|27.08|26.77|   26| 24.6|21.03|18.17|
| 16|1917|18.16|19.94|22.46|25.29|26.97|27.41|27.15|26.64|25.79|23.85| 20.8|18.39|
| 17|1918|17.25|19.58|22.64|25.26|28.27|27.58|27.74|26.97|   26|24.54|21.71|18.37|
| 18|1919|18.78|19.15|23.15|26.19| 28.2| 28.3|27.28|26.84|25.84|24.36|21.48|18.58|
| 19|1920|18.27|19.16|23.02|25.73|27.06|27.76|27.48|26.61|26.34|24.85|21.84|18.78|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

**Question 1**

Add column average temperature for each year

In [4]:

from pyspark.sql.functions import *
list=[month for month in weather_data.columns[2:]]
exp='+'.join(list)
weather_data=weather_data.withColumn("Total",expr(exp)/12)
weather_data.show()

+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+
|_c0|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|             Total|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+
|  0|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|24.224166666666665|
|  1|1902|   19|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|24.326666666666664|
|  2|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|23.980833333333333|
|  3|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|23.849999999999998|
|  4|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|           23.9325|
|  5|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|24.099999999999998|
|  6|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|24.007499999999997|
|  7|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|             23.95|
|  8|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|23.778333333333336|
|  9|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|23.760833333333338|
| 10|1911|18.52|19.18|22.05|   26|28.55|28.02|27.44|27.04|26.22|24.57| 21.1|18.76|23.954166666666666|
| 11|1912| 18.6|20.84|22.93|26.21| 28.3|28.53|27.49|26.68|25.81|24.44|   21|18.44|24.105833333333337|
| 12|1913| 18.2|19.98|22.15|26.61|27.95|27.91|   27| 26.8|26.02|24.35|20.92| 18.7|23.882500000000004|
| 13|1914|18.96|19.66|22.63|25.73|28.24|28.46|27.29|26.49|26.38|23.97|21.87|18.73|24.034166666666668|
| 14|1915|17.93|   19|22.69|26.23|29.17|28.58|27.77|27.32|26.82|25.46|22.18|18.31|24.288333333333338|
| 15|1916|18.52|19.68|24.24|26.84|28.16|27.81|27.08|26.77|   26| 24.6|21.03|18.17|24.075000000000003|
| 16|1917|18.16|19.94|22.46|25.29|26.97|27.41|27.15|26.64|25.79|23.85| 20.8|18.39| 23.57083333333333|
| 17|1918|17.25|19.58|22.64|25.26|28.27|27.58|27.74|26.97|   26|24.54|21.71|18.37|23.825833333333332|
| 18|1919|18.78|19.15|23.15|26.19| 28.2| 28.3|27.28|26.84|25.84|24.36|21.48|18.58|24.012500000000003|
| 19|1920|18.27|19.16|23.02|25.73|27.06|27.76|27.48|26.61|26.34|24.85|21.84|18.78| 23.90833333333333|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+
only showing top 20 rows

**Question 2**

Add row average temperature of each month

In [5]:

weather_data2=weather_data.select([months for months in weather_data.columns if months!="YEAR" and months!='_c0'])
avg_dict={}
for i in weather_data2.columns:
  avg_dict[i]=weather_data2.select(i).agg({i:"avg"}).collect()[0][0]
avg_dict

{'JAN': 18.42324786324786,
 'FEB': 20.137948717948717,
 'MAR': 23.434188034188036,
 'APR': 26.514102564102565,
 'MAY': 28.386410256410255,
 'JUN': 28.300940170940162,
 'JUL': 27.369230769230775,
 'AUG': 26.940085470085464,
 'SEP': 26.342649572649577,
 'OCT': 24.742051282051282,
 'NOV': 21.765726495726508,
 'DEC': 19.173333333333332,
 'Total': 24.294159544159545}

In [6]:

from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
new_row = Row(_c0='Average', YEAR='----', JAN=avg_dict['JAN'], FEB=avg_dict['FEB'], MAR=avg_dict['MAR'], APR=avg_dict['APR'],
                                          MAY=avg_dict['MAY'], JUN=avg_dict['JUN'], JUL=avg_dict['JUL'], AUG=avg_dict['AUG'],
                                          SEP=avg_dict['SEP'], OCT=avg_dict['OCT'], NOV=avg_dict['NOV'], DEC=avg_dict['DEC'],
                                          Total=avg_dict['Total']
                                          )

new_df=spark.createDataFrame([new_row])
weather_data=weather_data.union(new_df)
last_df=spark.createDataFrame(weather_data.tail(10))
last_df.show()

+-------+----+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|    _c0|YEAR|              JAN|               FEB|               MAR|               APR|               MAY|               JUN|               JUL|               AUG|               SEP|               OCT|               NOV|               DEC|             Total|
+-------+----+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|    108|2009|            19.79|             21.66|             24.55|             27.35|             28.71|             28.77|             27.83|             27.85|             27.11|              25.2|             22.31|             20.22|           25.1125|
|    109|2010|            19.15|             21.23|             26.53|              28.4|             29.19|             28.51|             27.55|             27.33|              26.6|             25.58|             22.98|             19.22|25.189166666666665|
|    110|2011|            18.32|             20.79|             24.11|              26.1|             28.92|              28.6|              27.6|              27.2|              26.7|             25.51|             22.84|             19.84|24.710833333333326|
|    111|2012|            18.25|             20.43|             23.98|             26.89|             28.72|             28.91|             27.98|             27.31|             26.65|             24.85|             22.26|             19.91|24.678333333333338|
|    112|2013|            18.88|             21.07|             24.53|             26.97|             29.06|             28.24|              27.5|             27.22|             26.87|             25.63|             22.18|             19.69|24.819999999999997|
|    113|2014|            18.81|             20.35|             23.34|             26.91|             28.45|             29.42|             28.07|             27.42|             26.61|             25.38|             22.53|              19.5|24.732499999999998|
|    114|2015|            19.02|             21.23|             23.52|             26.52|             28.82|             28.15|             28.03|             27.64|             27.04|             25.82|             22.95|             20.21|24.912499999999998|
|    115|2016|            20.92|             23.58|             26.61|             29.56|             30.41|              29.7|             28.18|             28.17|             27.72|             26.81|              23.9|             21.89|26.454166666666662|
|    116|2017|            20.59|             23.08|             25.58|             29.17|             30.47|             29.44|             28.31|             28.12|             28.11|             27.24|             23.92|             21.47|26.291666666666668|
|Average|----|18.42324786324786|20.137948717948717|23.434188034188036|26.514102564102565|28.386410256410255|28.300940170940162|27.369230769230775|26.940085470085464|26.342649572649577|24.742051282051282|21.765726495726508|19.173333333333332|24.294159544159545|
+-------+----+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

**Question 3**

Add column min and max for each year with corresponding values.

In [7]:
list=[month for month in weather_data.columns[2:-1]]
weather_data=weather_data.withColumn("Maximum",greatest(*list))\
                         .withColumn("Minimum",least(*list))
weather_data.show()

+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-------+-------+
|_c0|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|             Total|Maximum|Minimum|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-------+-------+
|  0|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|24.224166666666665|   28.6|  17.99|
|  1|1902|   19|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|24.326666666666664|  28.68|  18.78|
|  2|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|23.980833333333333|  28.41|  18.29|
|  3|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|23.849999999999998|  27.85|  17.77|
|  4|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|           23.9325|  28.69|   17.4|
|  5|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|24.099999999999998|  29.06|   17.5|
|  6|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|24.007499999999997|  27.66|  18.46|
|  7|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|             23.95|  28.49|  18.15|
|  8|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|23.778333333333336|  27.97|  17.79|
|  9|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|23.760833333333338|  28.36|  18.05|
| 10|1911|18.52|19.18|22.05|   26|28.55|28.02|27.44|27.04|26.22|24.57| 21.1|18.76|23.954166666666666|  28.55|  18.52|
| 11|1912| 18.6|20.84|22.93|26.21| 28.3|28.53|27.49|26.68|25.81|24.44|   21|18.44|24.105833333333337|  28.53|  18.44|
| 12|1913| 18.2|19.98|22.15|26.61|27.95|27.91|   27| 26.8|26.02|24.35|20.92| 18.7|23.882500000000004|  27.95|   18.2|
| 13|1914|18.96|19.66|22.63|25.73|28.24|28.46|27.29|26.49|26.38|23.97|21.87|18.73|24.034166666666668|  28.46|  18.73|
| 14|1915|17.93|   19|22.69|26.23|29.17|28.58|27.77|27.32|26.82|25.46|22.18|18.31|24.288333333333338|  29.17|  17.93|
| 15|1916|18.52|19.68|24.24|26.84|28.16|27.81|27.08|26.77|   26| 24.6|21.03|18.17|24.075000000000003|  28.16|  18.17|
| 16|1917|18.16|19.94|22.46|25.29|26.97|27.41|27.15|26.64|25.79|23.85| 20.8|18.39| 23.57083333333333|  27.41|  18.16|
| 17|1918|17.25|19.58|22.64|25.26|28.27|27.58|27.74|26.97|   26|24.54|21.71|18.37|23.825833333333332|  28.27|  17.25|
| 18|1919|18.78|19.15|23.15|26.19| 28.2| 28.3|27.28|26.84|25.84|24.36|21.48|18.58|24.012500000000003|   28.3|  18.58|
| 19|1920|18.27|19.16|23.02|25.73|27.06|27.76|27.48|26.61|26.34|24.85|21.84|18.78| 23.90833333333333|  27.76|  18.27|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-------+-------+
only showing top 20 rows

**Question 4**

Create dataframe called 'decade', storing average temperatures of each month in the respective decade. Decade 1910 is from 1901 to 1910.

In [8]:
decade = weather_data.groupBy(floor(col("YEAR") / 10) * 10+10).agg(avg("JAN").alias('JAN'),avg("FEB").alias('FEB'),avg("MAR").alias('MAR'),avg("APR").alias('APR'),avg("MAY").alias('MAY'),
    avg("JUN").alias('JUN'),avg("JUL").alias('JUL'),avg("AUG").alias('AUG'),avg("SEP").alias('SEP'),avg("OCT").alias('OCT'),avg("NOV").alias('NOV'),avg("DEC").alias('DEC'))


decade=decade.withColumnRenamed('floor(col("YEAR") / 10) * 10+10','YEAR')
decade.show()

+--------------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|((floor((YEAR / 10)) * 10) + 10)|               JAN|               FEB|               MAR|               APR|               MAY|               JUN|               JUL|               AUG|               SEP|               OCT|               NOV|               DEC|
+--------------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|                            1950|            18.144|            19.742|            23.213|              26.4|            28.551|28.359999999999996|27.347999999999995|26.928999999999995|26.264000000000003|24.700999999999997|            21.586|            19.005|
|                            1930|            18.271|            19.941|23.462000000000003|            26.462|            28.407|28.232999999999997|            27.296|            26.769|26.098000000000003|24.377999999999997|21.301000000000002|18.846999999999998|
|                            1940|18.162000000000003|19.857000000000003|            23.067|26.172999999999995|28.360000000000003|            28.117|            27.219|26.812000000000005|26.259999999999998|            24.517|            21.413|            18.983|
|                            1960|18.451999999999998|            20.018|            23.414|26.365999999999996|28.302999999999997|28.253999999999998|            27.162|26.768999999999995|26.259999999999998|24.505000000000003|21.502999999999993|            19.195|
|                            2010|            19.013|            20.935|24.214000000000006|            27.156|28.770999999999997|            28.417|27.666000000000004|            27.306|26.677000000000003|25.160999999999998|            22.457|            19.831|
|                            1920|            18.306|            19.673|            22.784|            26.032|28.217000000000002|            28.032|            27.317|26.816000000000003|26.085999999999995|            24.418|21.281000000000002|             18.45|
|                            1970|            18.094|            20.213|            23.407|26.196999999999996|            27.956|28.279000000000003|27.270000000000003|26.870000000000005|26.241000000000003|            24.556|            21.631|19.090999999999998|
|                            1910|18.154444444444444| 19.34777777777778| 22.81666666666667|             26.32|28.184444444444445|28.203333333333337|             27.31|26.766666666666666| 26.04222222222222|24.736666666666668|21.585555555555555| 18.73222222222222|
|                            1980|            18.291|19.865000000000002|            23.266|26.637999999999998|28.113999999999997|28.151999999999997|27.193999999999996|            26.725|26.189999999999998|            24.715|            21.807|            19.022|
|                            2020|           19.2425|             21.47|            24.775|27.565000000000005|            29.255|          28.87125|27.902500000000003|27.551250000000003|           27.0375|           25.8525|            22.945|          20.21625|
|                            2000|            18.662|20.651999999999997|            23.636|26.514000000000003|28.413999999999998|28.485999999999997|27.512999999999998|            27.089|26.615999999999996|24.842999999999996|            22.161|            19.519|
|                            1990|            18.424|20.128999999999998|23.362000000000002|            26.537|            28.258|            28.311|27.334000000000003|26.982999999999997|            26.449|24.743000000000002|            21.736|            19.353|
|                            NULL| 18.42324786324786|20.137948717948717|23.434188034188036|26.514102564102565|28.386410256410255|28.300940170940162|27.369230769230775|26.940085470085464|26.342649572649577|24.742051282051282|21.765726495726508|19.173333333333332|
+--------------------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [9]:
#5.Which year is the hottest year? (Based on avg temp)
hottest_year=weather_data.select("YEAR","Total").orderBy("Total",ascending=False).first()[0]
hottest_year

'2016'

In [10]:
#6.Which year is the coldest year? (Based on avg temp)
coldest_year=weather_data.select("YEAR","Total").orderBy("Total").first()[0]
coldest_year

'1917'

In [11]:
#7.Find out which years recorded minimum and maximum temperatures. (Not based on avg temp)
minimum_temp_year=weather_data.select("YEAR","Minimum").orderBy("Minimum").first()[0]
maximum_temp_year=weather_data.select("YEAR","Maximum").orderBy("Maximum",ascending=False).first()[0]
print("Maximum Year:",maximum_temp_year)
print("Minimum Year:",minimum_temp_year)

Maximum Year: 1921
Minimum Year: 1918

In [14]:
#8.How much raise is observed in min and max temperature for each month?
weather_data4= weather_data.select([cols for cols in weather_data.columns[1:-1]])
weather_data4.show()
for i in weather_data4.columns[:-1]:
  print(f"{i}:{weather_data4.select(i).agg({i,'max'}).collect()[0][0]-weather_data4.select(i+1).agg({i+1,'max'}).collect()[0][0]}")

+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-------+
|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|             Total|Maximum|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-------+
|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|24.224166666666665|   28.6|
|1902|   19|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|24.326666666666664|  28.68|
|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|23.980833333333333|  28.41|
|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|23.849999999999998|  27.85|
|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|           23.9325|  28.69|
|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|24.099999999999998|  29.06|
|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|24.007499999999997|  27.66|
|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|             23.95|  28.49|
|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|23.778333333333336|  27.97|
|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|23.760833333333338|  28.36|
|1911|18.52|19.18|22.05|   26|28.55|28.02|27.44|27.04|26.22|24.57| 21.1|18.76|23.954166666666666|  28.55|
|1912| 18.6|20.84|22.93|26.21| 28.3|28.53|27.49|26.68|25.81|24.44|   21|18.44|24.105833333333337|  28.53|
|1913| 18.2|19.98|22.15|26.61|27.95|27.91|   27| 26.8|26.02|24.35|20.92| 18.7|23.882500000000004|  27.95|
|1914|18.96|19.66|22.63|25.73|28.24|28.46|27.29|26.49|26.38|23.97|21.87|18.73|24.034166666666668|  28.46|
|1915|17.93|   19|22.69|26.23|29.17|28.58|27.77|27.32|26.82|25.46|22.18|18.31|24.288333333333338|  29.17|
|1916|18.52|19.68|24.24|26.84|28.16|27.81|27.08|26.77|   26| 24.6|21.03|18.17|24.075000000000003|  28.16|
|1917|18.16|19.94|22.46|25.29|26.97|27.41|27.15|26.64|25.79|23.85| 20.8|18.39| 23.57083333333333|  27.41|
|1918|17.25|19.58|22.64|25.26|28.27|27.58|27.74|26.97|   26|24.54|21.71|18.37|23.825833333333332|  28.27|
|1919|18.78|19.15|23.15|26.19| 28.2| 28.3|27.28|26.84|25.84|24.36|21.48|18.58|24.012500000000003|   28.3|
|1920|18.27|19.16|23.02|25.73|27.06|27.76|27.48|26.61|26.34|24.85|21.84|18.78| 23.90833333333333|  27.76|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-------+
only showing top 20 rows

AssertionError: ignored